@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *::before, *::after {
    font-family: "Inter", "sans-serif";
    font-weight: normal;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 2px #dbdbdb solid;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    width: 100%;
}

nav img {
    width: 200px;
    object-fit: contain;
}


.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    color: #111928;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #3758F9;
}

.nav-links button {
    background-color: #3758F9;
    color: #fff;
    border: none;
    border-radius: 8px;
    height: 47px;
    width: 160px;
    font-size: 15px;
    font-weight: 500;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-property: all;
    cursor: pointer;
}

.nav-links button:hover {
    background-color: #1a25db;
    color: #dae2ff;
}

h1, h2 {
    font-size: 45px;
    font-weight: 700;
    color: #111928;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    color: #111928;
    text-align: center;
}

h1 span, h2 span, h3 span {
    color: #3758F9;
    font-weight: 700;
}

.description {
    font-size: 20px;
    font-weight: 400;
    color: #637381;
}

section {
    scroll-margin-top: 100px;
}

#inicio {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#inicio div {
    display: flex;
    flex-direction: column;
    width: 521px;
    gap: 20px;
}

#inicio button, #sobre button {
    background-color: #3758F9;
    color: #fff;
    border: none;
    border-radius: 8px;
    height: 55px;
    width: 175px;
    font-size: 15px;
    font-weight: 500;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-property: all;
    cursor: pointer;
}

#inicio button:hover, #sobre button:hover {
    background-color: #1a25db;
    color: #dae2ff;
}

#inicio img {
    width: 473px;
    object-fit: contain;
    margin-right: -20px;
}

#sobre {
    width: 100%;
    background-color: #EFF3FF;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.about-wrapper {
    display: flex;
    align-items: center;
    max-width: 1100px;
    justify-content: space-between;
    width: 100%;
}

.about-texts {
    display: flex;
    flex-direction: column;
    width: 521px;
    gap: 25px;
}

#sobre img {
    width: 489px;
    object-fit: contain;
    margin-left: -60px;
}

#sobre2 {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre2-container {
    margin-top: 60px;
    display: flex;
    gap: 35px;
}

.card-wrapper {}

.card {
    width: 250px;
    height: 220px;
    background-color: white;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    padding: 25px;
    border-radius: 16px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #3758F9;
    border-radius: 10px;
}

.icon-wrapper img {
    width: 25px;
}

.description-title {
    color: #111928;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}

.description2 {
    font-size: 13px;
    font-weight: 400;
    color: #637381;
    margin-top: 10px;
}